.bg-header{
    background-color:  #eae7e8;
    padding: 35px 0;

}
.test{
    color: #eae7e8;
    color: #cb;
}
.bg-header nav>ul>li{
    float: ;
}
.bg-header .logo{
    font-size: 30px;
    font-family: RammettoOne;
    
}